azure-ai-formrecognizer==3.3.0

flask

python-dotenv

flask-cors

openai

# See: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/2053#issuecomment-1879799993 
git+https://github.com/open-telemetry/opentelemetry-python-contrib.git@v0.45b0#egg=opentelemetry-instrumentation-aiohttp-server&subdirectory=instrumentation/opentelemetry-instrumentation-aiohttp-server

opentelemetry-distro

opentelemetry-exporter-otlp==1.24.0