# Document Intelligence
AZURE_API_KEY=

# OpenAI
AZURE_OPENAI_KEY=

# API base path for deployment
API_BASE_PATH='/swagger'
SWAGGER_PATH='/docs'

# DB
FERTISCAN_DB_URL=

# Blob Storage
FERTISCAN_STORAGE_URL=
